<p id="notice"><%= notice %></p>

<h1>Historias</h1>

<div id="all">
    <% @stories.each do |story| %>
    <%= link_to story do %>
      <article>
          <div id ="headline" ><%= story.headline %></div>
          <br>
          <div id ="subtitle" ><%= story.subtitle %></div>
          <br>
          <div id ="body" ><%= truncate_letters(1000, story.body) %></div>
          <br>
          <div id ="info">
              <%=story.comments.count%> comments |
              <%=story.created_at%>
            <%= link_to 'Ver', story %>
          </div>
        </article>
      <% end %>
      <br>
    <% end %>
</div>
