<p id="notice"><%= notice %></p>

<h1>Stories</h1>



<div id="all">
    <% @stories.each do |story| %>
    <article>
        <div id ="headline" ><%= story.headline %></div>
        <div id ="subtitle" ><%= story.subtitle %></div>
        <div id ="body" ><%= story.body %></div>
        <div id ="info">
            <%=story.comments.count%> comments
          <%= link_to 'Show', story %>
          <%= link_to 'Edit', edit_story_path(story) %>
          <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </article>
      <br>
    <% end %>
</div>


<%= link_to 'New Story', new_story_path %>
