<p id="notice"><%= notice %></p>

<article id = "show">
<p>
  <div id ="headline" ><%= @story.headline %></div>
</p>

<p>
  <div id ="subtitle" ><%= @story.subtitle %></div>
</p>

<p>
  <div id ="body" ><%= @story.body %></div>
</p>

<p>
  <%= @story.created_at %>
</p>
</article>

<h3>Comentarios (<%=@comments.length%>):</h3>
<%@comments.each do |comment|%>
<p>
  Autor: <%=comment.author%> <br>
  <%=comment.content%>
</p>
<%end%>

<h4>Ingrese un nuevo comentario:</h4>


<%= form_for([@story, @comment], url: story_comments_path(@story.id)) do |f| %>



      <div class="field">
        <%= f.label :autor %>
        <%= f.text_field :author %>
      </div>
      <div class="field">
        <%= f.label :Comentario %>
        <%= f.text_field :content %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>

  <% end %>
